@charset "UTF-8";

:root {
  --color-blue: #0000C5; 
  --color-gray-bg: #F3F3F3;
  --color-gray-text: #f7f7f7;
  --color-white: #fff;
  --color-black: #000;
}
body {
  margin: 0 auto;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
}
.pc-main-nav {
  z-index: 9999;
}

.main-title-bk {
  font-family: "Jost", sans-serif;
  font-size: 6.25rem;
  font-weight: 600;
  -webkit-text-stroke: 2px #fff; color:transparent;
  text-transform: uppercase;
}
.main-title-w {
  font-family: "Jost", sans-serif;
  font-size: 100px;
  font-weight: 600;
  color: #fff;
  line-height: 0.9;
  text-transform: uppercase;
}
.sub-title {
  font-family: "Jost", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}
.inner-text-sm {
  font-family: "Pretendard", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}
.inner-text-lg {
  font-family: "Pretendard", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}
.campain-title {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 3.125rem;
  text-transform: uppercase;
}
.mini-title {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
}


.btn-w {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  width: 220px;
  padding: 15px 0px;
  border-radius: 50px;
  color: #000;
  background-color: #ddd;
  text-align: center;
  margin: 30px auto;
  font-family: "Pretendard", sans-serif;
}

.btn-bk {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  width: 220px;
  padding: 15px 0px;
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  text-align: center;
  margin: 0 auto;
  font-family: "Pretendard", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}





/***** collabo-intro *****/
.collabo-intro  {
  height: 90vh;
  background: url(./assets/images/collabo/collabo_bg1.png) no-repeat 20% 0% ;
}

.collabo-intro img {
  opacity: 70%;
  width: 500px;
}

/***** collabo-main *****/
.collabo-main {
  background-color: var(--color-black);
  padding: 120px 0px;
  text-align: center;
}

.collabo-main img {
  display: block;
  margin:0 auto;
}
.collabo-main .shoes {
  /* padding: 100px 0 60px; */
  padding: 100px 150px 60px 0;
}
.collabo-main .collabo-logo {
  width: 165px;
}

.collabo-main p {
  color: #fff;
  margin: 40px auto;
}

.collabo-main p span {
  display: block;
}

/***** collabo-through *****/
/* 여기 해결 안됐음 */
 .collabo-through {
  max-width: 1440px;
  margin: 0 auto;
  padding: 160px 90px;
} 
.through-wrapper {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.through-wrapper1 {
  text-align: left;
  margin-bottom: 120px;
  display: block;
  align-self: flex-end;
}
.through-wrapper2 {
  text-align: right;
  display: block;
  align-self: flex-start;
}
.through-wrapper img{
  width: 100%;
}
.through-wrapper h3 {
  padding: 40px 5px 20px;
}
.through-wrapper p {
  padding: 10px 5px;
  
}
.through-wrapper p span {
 display: block; 
}



/***** collabo-campain *****/
.collabo-campain {
  background-color: var(--color-gray-bg);
  text-align: center;
  padding: 160px 0 80px;
}
.collabo-campain p {
  padding: 60px 0;
  /* max-width: 800px; */
  margin: 0 auto;
  
}
.collabo-campain p span {
  display: block;
}
.btn-wrapper {
  width: 500px;
  margin:0 auto;
  padding: 30px 0;
}

/***** collabo-shop *****/
