
/****** color 변수 ******/
$wColor: #fff;
$bColor: #000;
$mColor: #0000C5;
$gColor: #AEAEAE;

/****** font 변수 ******/
@mixin enFont($font-weight: 500, $font-size: 16px, $color: $bColor) {
  font-family: 'Jost', sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

@mixin koFont($font-weight: 500, $font-size: 16px, $color: $bColor) {
  font-family: 'Pretendard', sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}
.page-main-productContaine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .page-sidebarImages-container {
    margin: 240px 0 0 90px;
    .page-sidebarImages-wrapper {
      .page-sidebarImages-item {
        margin-bottom: 20PX;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .page-mainContent-container {
    margin-top: 330px;
    .page-mainContent-mainTextBox {
      width: 600px;
      margin: 0 90px 235px 0;
      @include enFont(500, 14px, $bColor);
      .tag {
        font-size: 16px;
        font-weight: 600px;
        margin-bottom: 75px;
      }
      .information {
        display: flex;
        justify-content: space-between;
      }
      .selectColor {
        text-indent: -99999px;
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $mColor;
        margin: 15px 0;
        font-weight: 400;
      }
      .size {
        font-weight: 600;
        margin-bottom: 117px;
        span {
          text-decoration: underline;
          margin-left: 110px;
        }
      }
      .clickButton-wrapper {
        li {
          margin-bottom: 15px;
          height: 44px;
          border-radius: 30px;
          border: 1px solid $bColor;
          display: grid;
          place-items: center;
          font-size: 16px;
          font-weight: 500;
        }
        .clickButton-b {
          background-color: $bColor;
          color: $wColor;
        }
      }
      .subINformation {
        color: #ff0000;
        text-align: center;
      }
    }
    .page-mainContent-imgWrapper {
      margin: 0;
      width: 100%;
      div {
        width: 100%;
        height: 100%;
        display: flex;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .page-mainContent-subTextBox {
      .subTextBox-wrapper {
        .subTextBox-item {
          margin-bottom: 90px;
          .subTextBox-item-title {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 16px;
          }
          p {
            line-height: 1.5;
            font-size: 14px;
          }
        }
      }
    }
  }
}